*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

:root {
  --main-color: #456c96;
  --main-dark-color: #294460;
  --text-color: #FFFFFF;
  --accent-color: #FC766AFF;
}

@font-face {
	font-family: 'Roboto-Regular';
	src:url("assets/fonts/Roboto-Regular.ttf");
}

a{
	text-decoration: none;
}


body{
	font-family: 'Birthstone-Regular', sans-serif;
	background-color: #FFFFFFFF;
}

h1{
	font-size: 80px;
	color:var(--accent-color);
}

li{
	font-size: 24px;
	padding-left: 10px;

	color:var(--text-color);
}

ul{
	padding-left: .5em;
}

li::marker{
	content: "\2714";
	color: var(--accent-color);

}

h2, h3, h4{
	color: var(--text-color);
}

h2{
	line-height: 3;
	text-align: center;
	grid-column-start: 1;
	grid-column-end: 4;
	font-size: 38px;
}

h3{
	padding-left: 18px;
	line-height: 2;
	font-size: 24px;
	color: var(--accent-color);
}

p{
	color: var(--text-color);
	font-size: 20px;
	line-height: 1.3;
	word-spacing: -1px;
}

@font-face {
	font-family: 'Roboto-Regular';
	src:url("assets/fonts/Roboto-Regular.ttf");
}

#scroll-area{
	width: 100%;
	height: 110vh;
	background-color: var(--accent-color);
}

/* var(--accent-color), var(--main-color)) */
#introduction{
	top: 0px;
	position:fixed;
	background-color: white;
	text-align: center;
	display: flex;
	justify-content: center;
	width: 100vw;
	height: 85vh;
}

#cv{
	padding-top: 200px;
	padding-bottom: 200px;
	min-height: 100vh;
	background-color: var(--main-color);
	display:grid;

	grid-row-gap: 150px;
	grid-template-columns: 1fr 1fr 1fr;
 	grid-template-rows: 1fr 0.1fr 0.1fr 200px;

}

/* CV articles that should take us as much horizontal space as possible*/
.expand{

}

/* CV articles that should have a set width*/
.sized{
	max-width: 500px;
	padding-left: 50px;
	padding-right: 50px;
}

.social-row{
	display:flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	margin-top: 20px;
}

.social-button{
	margin-top: 50px;
	margin-left: 50px;
	margin-right: 50px;
	width: 100px;
	height: 100px;
	display: flex;
	align-items:center;
   justify-content: center;
}

.social-circle{
	width: 100px;
	height: 100px;
	position: absolute;
	background-color: var(--main-dark-color);
	border-radius: 65px;
	z-index: 0;
}

.social-def{
	position: absolute;
	text-decoration: underline;
	text-decoration-color: var(--accent-color);
}

.social-icon{
	z-index: 0;
}

.hover-circle{
	position: absolute;
	width: 0px;
	height: 100px;
	background-color: var(--accent-color);
	border-radius: 65px;
}

#youtube-info{
	display:flex;
	align-items: center;
}

#youtube-info-text{
	font-size: 14px;
}

#socials{
	grid-column-start: 1;
 	grid-column-end: 4;
}

#project-container{
	grid-column-start: 1;
 	grid-column-end: 4;
}

#projects{
	display: flex;
   flex-wrap: wrap;
   align-items:center;
   justify-content: center;
}

.project{
	margin-top: 20px;
	margin: 20px;
	background-color: white;
	position: relative;
   border-radius: 40px;
	padding: 2px;
}

.project_img{
   display: block;
   width: 100%;
   height: 100%;
   border-radius: 40px;
   transition: .3s ease-out;
}

.project-title{
	color: var(--accent-color);
	padding-bottom: 10px;
	padding-top: 20%;
}

.project:hover .description {
	opacity: 1;
}

.project:hover .project_img {
	filter: blur(3px) grayscale(80%);
}

.description{
   position: absolute;
   top: 0px;
   left: 0px;
   width: 100%;
   height: 100%;
   color: var(--text-color);
   display: flex;
   flex-direction: column;
   align-items:center;
	text-align: center;
   opacity: 0;
   border-radius: 40px;
   transition: .2s ease-out;
   background: rgba(0,0,0, 0.7)
}

#langs{

}

#tools{
	margin-top: 50px;
}


.portrait{
	position:absolute;
	border-color: white;
	border: 378px;
	border-style:none dashed none dashed;
	border-color: white;
	background: linear-gradient(0deg, #FFFFFFFF, var(--main-color));
	border-radius: 50%;
	padding: 20px;
	left: 50%;
	transform: translate(-50%);
}

#portraits{
	top:20%;
	position:absolute;
}

#name-column{
	position:absolute;
	top: 85%;
}

#name-row{
	display: flex;
	justify-content: center;
	align-items: center;
	column-gap: 5px;
	font-size: 64px;
}

#hello{
	position:absolute;
	top: 75px;
	font-size: 64px;
}

.name{
	font-size: 48px;
}

#my-name-is{
	color: black;
	font-size: 32px;
}

#name{
	color: var(--accent-color);
}

#surname{
	color: var(--main-color);
}

#youtube{}

#scroll-down-column{
	position: fixed;
	top: 90%;
	left: 50%;
	transform: translate(-50%);
	font-size: 32px;
}

.scroll-down{
	color: var(--text-color);
	font-size: 32px;
}

/*NB Media affecting only the intro-part */

@media only screen and (min-width: 1000px) and (max-width: 1280px) and (min-height: 1050px) {
	.portrait{
		border-style:none;
	}
}

@media only screen and (max-width: 1000px) and (min-height: 1050px){
	.portrait{
		border-style:none;
		width:400px;
		padding: 10px;
	}

	.scroll-down{
		color: var(--text-color);
		font-size: 28px;
	}
}

@media only screen and (max-height: 1050px) and (min-height: 750px) {
	.portrait{
		border-style:none;
		width:400px;
		padding: 10px;
		transform: translate(-50%);
	}

	.scroll-down{
		font-size: 24px;
	}

	#hello{
		font-size: 48px;
	}

	.name{
		font-size: 32px;
	}

	#my-name-is{
		font-size: 24px;
	}
}

@media only screen and (max-height: 750px){
	.portrait{
		border-style:none;
		width:45vh;
		padding: 10px;
	}

	.scroll-down{
		color: var(--text-color);
		font-size: 16px;
	}

	#hello{
		top:20px;
		font-size: 32px;
	}

	.name{
		font-size: 24px;
	}

	#my-name-is{
		font-size: 16px;
	}

	#name-column{
		position:absolute;
		top: 80%;
	}

	#scroll-down-column{
		position: fixed;
		top: 87%;
		left: 50%;
		transform: translate(-50%);
	}
}

/*NB Media affecting only the intro-part */

@media only screen and (max-width: 1520px) {
	#cv{
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 0.5fr 0.5fr 0.1fr 0.1fr 200px;
	}

	#socials{
		grid-column-start: 1;
	 	grid-column-end: 3;
	}

	#project-container{
		grid-column-start: 1;
	 	grid-column-end: 3;
	}
}

@media only screen and (max-width: 1000px) {
	#cv{
		grid-template-columns: 1fr;
		grid-template-rows: 0.5fr 0.5fr 0.5fr 0.1fr 0.1fr 200px;
		place-items: center;
	}

	#socials{
		grid-column-start: 1;
	 	grid-column-end: 2;
	}

	#project-container{
		grid-column-start: 1;
	 	grid-column-end: 2;
	}
}
