*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

@font-face {
	font-family: 'Roboto-Regular';
	src:url("assets/fonts/Roboto-Regular.ttf");
}

body{
	font-family: 'Birthstone-Regular', sans-serif;
	background-color: #FFFFFFFF;
}

h1{
	font-size: 80px;
	color:#FC766AFF;
}

h2, h3, h4{
	color: white;
	text-align: center;
	grid-column-start: 1;
 	grid-column-end: 4;
}

p{
	color: white;
	font-size: 16px;
}

@font-face {
	font-family: 'Roboto-Regular';
	src:url("assets/fonts/Roboto-Regular.ttf");
}

#scroll-area{
	width: 100%;
	height: 110vh;
	background-color: #FC766AFF;
}

/* #FC766AFF, #5B84B1FF) */
#introduction{
	top: 0px;
	position:fixed;
	background-color: white;
	text-align: center;
	display: flex;
	justify-content: center;
	width: 100vw;
	height: 85vh;
}

#cv{
	padding-top: 10%;
	min-height: 100vh;
	background-color: #5B84B1FF;
	display:grid;
	grid-template-columns: 1fr 1fr 1fr;
 	grid-template-rows: 50px 1fr 1fr;
}

/* CV articles that should take us as much horizontal space as possible*/
.expand{

}

/* CV articles that should have a set width*/
.sized{
	min-width: 500px;
	max-width: 500px;
	padding: 20px;
}

#socials{
	grid-column-start: 1;
 	grid-column-end: 4;
}

#project-container{
	grid-column-start: 1;
 	grid-column-end: 4;
}

#projects{
	display: flex;
   flex-wrap: wrap;
   align-items:center;
   justify-content: center;
}

.project{
	margin-top: 20px;
	margin: 20px;
	background-color: #2f5783;
	position: relative;
   border-radius: 65px;
	padding: 4px;
}

#projects h2{
	color: red;
}


.project_img{
   display: block;
   width: 100%;
   height: 100%;
   border-radius: 65px;
   transition: .3s ease-out;
}

.description{
   position: absolute;
   top: 0px;
   left: 0px;
   width: 100%;
   height: 100%;
   color:white;
   display: flex;
   flex-direction: column;
   align-items:center;
	text-align: center;
   opacity: 0;
   border-radius: 65px;
   transition: .2s ease-out;
   background: rgba(0,0,0, 0.7)
}

.project-title{
	color: #FC766AFF;
	padding-bottom: 10px;
	padding-top: 20%;
}

.project:hover .description {
  opacity: 1;
}

.project:hover .project_img {
   filter: blur(3px) grayscale(80%);
}





#hello{
	position: absolute;
	top: 50px;
}

.portrait{
	position:absolute;
	border-color: white;
	border: 378px;
	border-style:none dashed none dashed;
	border-color: white;
	background: linear-gradient(0deg, #FFFFFFFF, #5B84B1FF);
	border-radius: 50%;
	padding: 20px;
	left: 50%;
	transform: translate(-50%);
}

#portraits{
	top:15%;
	position:absolute;
}

#name-column{
	bottom: 0;
	position:absolute;
}

#name-row{
	display: flex;
	justify-content: center;
	align-items: center;
	column-gap: 5px;
	font-size: 64px;
}

#my-name-is{
	color: black;
	font-size: 32px;
}

.name{
	font-size: 64px;
}

#name{
	color: #FC766AFF;
}

#surname{
	color: #5B84B1FF;
}

#youtube{}

#scroll-down-column{
	position: fixed;
	top: 90%;
	left: 50%;
	transform: translate(-50%);
	font-size: 32px;
}

.scroll-down{
	color: white;
	font-size: 32px;
}

@media only screen and (min-width: 1000px) and (max-width: 1280px) and (min-height: 1050px) {
	.portrait{
		border-style:none;
	}
}

@media only screen and (max-width: 1000px) and (min-height: 1050px){
	.portrait{
		border-style:none;
		width:400px;
		padding: 10px;
	}

	.scroll-down{
		color: white;
		font-size: 28px;
	}
}

@media only screen and (max-height: 1050px) and (min-height: 750px) {
	.portrait{
		border-style:none;
		width:400px;
		padding: 10px;
		transform: translate(-50%);
	}

	.scroll-down{
		color: white;
		font-size: 24px;
	}

	#hello{
		position: absolute
		bottom: 10%;
	}

	#name-column{
		top: 80%;
		position:absolute;
	}
}

@media only screen and (max-height: 750px) and (min-height: 200px) {
	.portrait{
		border-style:none;
		width:45vh;
		padding: 10px;
		top: 10vh;
	}

	.scroll-down{
		color: white;
		font-size: 24px;
	}

	#hello{
		position: absolute;
		top: 50px;
	}

	#my-name-is{
		font-size: 24px;
	}

	.name{
		font-size: 32px;
	}
}



/* 1280 < kebab */
